@model Takke.Models.Driver

@{
    ViewData["Title"] = "Create";

    var driverExsite = ViewBag.driverExsite;
    if (driverExsite == null)
    {
        driverExsite = false;
    }
}


@if (driverExsite)
{
    <div class="alert alert-danger alert-dismissible mt-2">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> تنبيه!</h5>
        السائق موجود يرجى تغير رقم الهاتف
    </div>

}

<div class="row">
    <div class="col-12">

        <div class="card card-primary border-0">
            <div class="card-header">
                <h3 class="card-title">إنشاء سائق</h3>


                <div class="d-inline">
                    <a asp-action="Index"><i class="fa fa-arrow-left fa-lg"></i> </a>
                </div>

            </div>
            <form asp-action="Create">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="DriverName" class="control-label"></label>
                                <input asp-for="DriverName" class="form-control" />
                                <span asp-validation-for="DriverName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DriverBirthday" class="control-label"></label>
                                <input asp-for="DriverBirthday" class="form-control" />
                                <span asp-validation-for="DriverBirthday" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <label asp-for="Certificate" class="control-label"></label>
                                <input asp-for="Certificate" class="form-control" />
                                <span asp-validation-for="Certificate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Mobile" class="control-label"></label>
                                <input asp-for="Mobile" class="form-control" />
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="col-4">
                            <div class="form-group d-flex justify-content-center">
                                <label asp-for="DriverGender" class="control-label ml-3 mt-1"></label>
                                <div class="custom-control custom-radio">
                                    <div class="radio-1">
                                        <input asp-for="DriverGender" class="custom-control-input" id="male" value="ذكر" type="radio">
                                        <label for="male" class="custom-control-label">ذكر</label>
                                    </div>
                                    <div class="radio-2">
                                        <input asp-for="DriverGender" class="custom-control-input" id="female" value="أنثى" type="radio">
                                        <label for="female" class="custom-control-label">أنثى</label>
                                    </div>
                                </div>


                                <span asp-validation-for="DriverGender" class="text-danger"></span>
                            </div>


                        </div>


                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fa fa-plus"></i>
                        إنشاء
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
