@model Takke.Models.Smsconfig

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-8 mx-auto">

        <div class="card card-primary border-0">
            <div class="card-header">
                <h3 class="card-title">ادخال اعدادات  الرسائل</h3>


                <div class="d-inline">
                    <a asp-action="Index"><i class="fa fa-arrow-left fa-lg"></i> </a>
                </div>

            </div>

            <form asp-action="Create">
                <div class="card-body">
                    <div class="row justify-content-center">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-5">
                            <div class="form-group">
                                <label asp-for="Username" class="control-label"></label>
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                        </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-outline-primary">
                                    <i class="fa fa-plus"></i>
                                    ادخال
                                </button>
                            </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
